    /* LINKS */

    a { 
        padding: 5px;
        text-decoration: none;
    }
    a:visited {
        color: #800000 !important;
    }
    a:link {
        color: #1f6053 !important;
    }
    a:hover { 
        text-decoration:none;
        text-shadow: 0 0 2px #999;
    }
    a:hover span { 
        cursor: pointer;
    }
    a:active { 
        padding-top: 2px; 
    }


    /* LISTS */

    .main-components {
        list-style: none;
        font-size: 20px;
    }

    .main-components > li {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    ul.toc_section {
        list-style-type: none;
        font-size: 12px;
        line-height: 14px;
    }
    ul li:before{ 
        content:"-"; 
        position:relative; 
        left:-5px;
    }
    
    a.toc_title {
        text-decoration: underline;
    }
    
    ul > li > a:visited, a.toc_title:visited {
        color: #1f6053 !important;
    }
    ul > li > a:hover, a.toc_title:hover {
        text-shadow: none;
    }

    /* BACKGROUND */
    
    html, body {
        background: #eee !important;
    }
    
    /* TEXT */
    p {
        width: 600px;
    }

    .alias {
        padding-left: 20px;
    }
    
    .center {
        text-align: center;
    }
        

    /* FONTS */

    h1.logo {
        font-family: 'marcellus_sc', serif;
        color: #1f6053;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        text-decoration: none;
        letter-spacing: 0;
        word-spacing: 0;
        text-transform: none;
        text-shadow: none;
        font-size: 60px;
    }

/*    p::first-letter {
        font-family: 'marcellus_sc', serif;
        font-size: 20px;
    }*/
    
    @font-face {
        font-family: 'marcellus_sc';
        src: url('../font/MarcellusSC.woff') format('woff'),
             url('../font/MarcellusSC.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }


    /* IMAGES & LOGO */
    .logo_image_div {
        float: left;
        position: relative;
    }

        /* Leaf cover positioning */
    .cover {
        position:   absolute;
        left:       120px;
        top:        195px;
        color:      green;
    }
    @media screen and (max-width: 979px) {
        .cover {
            left: 90px;
            top: 145px;
        }
    }
    @media screen and (max-width: 770px) {
        .cover {
            left: 120px;
            top: 195px;
        }
    }
    @media screen and (max-width: 769px) and (min-width: 767px) {
        .cover {
            left: 90px;
            top: 145px;
        }
    }
    @media screen and (max-width: 340px) {
        .logo_image, .cover {
            display: none;
        }
    }
    
    /* CHARTS */
    .chart {
        /*border: dashed 1px maroon;*/
        /*margin:     6px;*/
        /*cursor:     crosshair;*/
    }
    #chart_container {
        display: inline-block;
        font-family: Arial, Helvetica, sans-serif;
    }
    #chart {
            float: left;
    }
    #legend {
            float: left;
            margin-left: 15px;
    }
    #offset_form {
            float: left;
            margin: 2em 0 0 15px;
            font-size: 13px;
    }
    #y_axis {
            float: left;
            width: 40px;
    }


    /* SIDEBAR */
    div.sidebar {
        width: 200px;
        position: fixed;
        top: 0;
        bottom: 0;
        overflow-y: auto;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        padding: 15px 0 30px 30px;
        border-right: 1px solid #bbb;

        box-shadow: 0 0 20px #ccc;
        -webkit-box-shadow: 0 0 20px #ccc;
        -moz-box-shadow: 0 0 20px #ccc;
    }

    /* CONTAINER */
    div.documentation-main {
        margin: 40px 0 50px 260px;

    }


    /* CODE */
    code {
        margin-left: 20px;
        
        /*line-height: 20px !important;*/
        font-family: Monaco, Consolas, monospace;
        font-size:  13px !important;
        font-style: normal !important;
        color: black  !important;
    }

    li.L0, li.L1, li.L2, li.L3, li.L4, li.L5, li.L6, li.L7, li.L8 {
        list-style-type: decimal !important; 
    }

    pre.prettyprint {
        margin-bottom: 20px;
    }
    .prettyprint {
        padding: 8px !important;
        border: 1px solid #e1e1e8 !important;
    }